body 
{
    background-color: darkcyan;
    color: white;
}

#score
{
    font-size: 25px;
    margin-left: 15px;
}

#timer
{
    font-size: 25px;
    margin-left: 1100px;
}

#show_sketch 
{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

h1 
{
    background-color: cornsilk;
    color: rgb(255, 217, 0);
    font-size: 50px;
}

p
{
    font-size: 18px;

}